<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="Joyce Chung, Edith, Kim">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
{% block nav %}
{%if {{session['uid']}} %}
<nav>
  <ul>
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('create_post')}}">Create a Post</a></li>
    <li><a href="{{url_for('search')}}">Search</a></li>
    <li><a href="{{url_for('profile', user_id = 4)}}">Profile</a></li>
  </ul>
</nav>

<ul>
  <li><a href="{{url_for('insert_item', post_id=1)}}">Example: Insert an item to post 1</a></li>
  <li><a href="{{url_for('update_post', post_id=1)}}">Example: Update Post with ID 1</a></li>
  <li><a href="{{url_for('update_item', post_id=1, item_id=1)}}">Example: Update Item with ID 1
    under Post with ID 1
  </a></li>
  <li><a href="{{url_for('profile', user_id=2)}}">Example: Edith's Profile </a></li>
</ul>
{% endif %}
{% endblock %}

{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

  <form action="{{url_for('reset_database')}}" method="post">
    <button type="submit">Reset Database</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
