{% extends "base.html" %}

{% block main_content %}
<p>Click to <a href="{{ url_for('index') }}">return to the main page</a>.</p>

<h1>Post Items</h1>

<form method="post" action="{{url_for('post')}}">
    <p><label>Item Name:
        <input required type="text" name="item-name" size="50" placeholder="Name of Item">
    </label></p>

    <p><label>Item Description:
        <textarea required name="item-description" 
        rows="3" cols="50" placeholder="item description"></textarea>
    </label></p>

    <p><label>Item Price:
        <input required type="text" name="price" size="10" placeholder="price">
    </label></p>

    <p>
        <label>Item Category
            <select required name="category">
                <option value="">choose</option>
                <option value="clothing">Clothing</option>
                <option value="books">Books</option>
                <option value="home">Home</option>
                <option value="electronics">Electronics</option>
                <option value="other">Other</option>
            </select>
        </label>
    </p>
    <p><input type="submit" value="add item to post">
</form>

<form method="post" action="{{url_for('post')}}">
    <p><input type="submit" value="some other option"></p>
</form>


{% endblock %}
